.video {
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(-45deg, rgba(137, 28, 30, 0.8) 0%, rgba(137, 28, 30, 0.8) 1%, rgba(158, 55, 242, 0.6) 67%, rgba(255, 255, 255, 0.5) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(137, 28, 30, 0.8) 0%, rgba(137, 28, 30, 0.8) 1%, rgba(158, 55, 242, 0.6) 67%, rgba(255, 255, 255, 0.5) 100%);
        background: linear-gradient(135deg, rgba(137, 28, 30, 0.8) 0%, rgba(137, 28, 30, 0.8) 1%, rgba(158, 55, 242, 0.6) 67%, rgba(255, 255, 255, 0.5) 100%);
        filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled=false)");
    }
}

video {
    display: block;
    width: 100%;
}

.contenido-video {
    display: flex;
    height: 100%;
    align-items: center;
    h2 {
        display: flex;
        flex-direction: column;
        color: $blanco;
        font-size: 6.6rem;
        font-weight: bold;
    }
    span {
        background-color: $rosa;
        padding: 1rem;
        color: $blanco;
        font-size: 2.3rem;
        font-weight: bold;
        width: 65%;
    }
}